<center>
  <a class="github-button" href="https://github.com/elgatito/plugin.video.elementum/releases" data-icon="octicon-cloud-download" aria-label="Download elgatito/plugin.video.elementum on GitHub">Download</a>
  <a class="github-button" href="https://github.com/elgatito/plugin.video.elementum" data-icon="octicon-star" data-show-count="false" aria-label="Star elgatito/plugin.video.elementum on GitHub">Star</a>
  <a class="github-button" href="https://github.com/elgatito/plugin.video.elementum/fork" data-icon="octicon-repo-forked" data-show-count="true" aria-label="Fork elgatito/plugin.video.elementum on GitHub">Fork</a>
</center>

<script async defer src="https://buttons.github.io/buttons.js"></script>
